<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- DAO인터페이스 연결 -->
<mapper namespace="kr.or.dgit.bigdata.swmng.dao.SwMngDao">

	<!-- DTO 파일 연결해서 데이터값 가져올 준비 -->
	<resultMap type="Company" id="CompanyResult">
		<result property="no" column="no"></result>
		<result property="coName" column="coName"></result>
		<result property="address" column="address"></result>
		<result property="tel" column="tel"></result>
	</resultMap>

	<!-- 쿼리문을 연결할 변수(ID)생성후 DTO(ID)와 연결 -->
	<select id="selectAll" resultMap="CompanyResult">
		SELECT no,coName,address,tel
		FROM company
	</select>
	<select id="selectByNo" resultMap="CompanyResult">
		SELECT no,coName,address,tel
		FROM company WHERE no = #{no}
	</select>
	<select id="deleteItem" resultMap="CompanyResult">
		DELETE FROM company WHERE no =
		#{no}
	</select>
	<select id="insertItem" resultMap="CompanyResult">
		INSERT INTO company
		VALUES(#{no},#{coName},#{address},#{tel})
	</select>
	<select id="updateItem" resultMap="CompanyResult">
		UPDATE company SET
		coName=#{coName}, address= #{address}, tel= #{tel} WHERE no = #{no}
	</select>

</mapper>
