<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- DAO인터페이스 연결 -->
<mapper namespace="kr.or.dgit.bigdata.swmng.mappers.BuyerMapper">

	<insert id="insertItem" parameterType="Buyer">
		insert into buyer(shopName,address,tel) values(#{shopName},#{address},#{tel})
	</insert>
	<select id="selectItem" parameterType="int" resultType="Buyer">
		select (shopName,address,tel) from buyer where no=#{no}
	</select>
	<select id="selectByAll" parameterType="Buyer">
		select no,shopName,address,tel from buyer
	</select>
	<update id="updateItem" parameterType="Buyer">
		update buyer set no=#{no},shopName=#{shopName},address=#{address},tel=#{tel} where no = #{no}
	</update>
</mapper>